/* change widths to percentages to scale easier */

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* body {
  background-color: white;
} */
/* footer {
  height: auto;
} */

/* NAV SECTION */

.nav-container {
  /* width: 900px;
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  align-items: center;
  justify-content: space-between; */
}

.nav-logo {
  /* width: 20%; */
}

.nav-img {
  /* width: 100%; */
}

.nav-links {
  /* width: 90%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between; */
}

.nav-link {
  /* text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  font-weight: bold;
  color: #051b30; */
}
.hero {
  /* width: 900px;
  height: 600px;
  background-color: #e5e5e5; */
  /* position: relative; */
  /* border-radius: 10px;
  /* padding: 10px; */
  /* margin-top: 40px; */
  /* display: flex;
  flex-direction: column;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075); */
}
.banner {
  /* background-color: gray; */
  /* display: flex;
  width: 98%;
  height: 100px;
  align-items: center; */
  /* justify-content: center; */
}
.banner-top-left {
  /* display: flex;
  width: 42%;
  color: #051b30; */

  /* justify-content: end; */
}
/* .banner-top-left h1 {
  margin-left: 70px;
  color: #051b30;
} */
.banner-center {
  /* width: 12%;
  display: flex; */
}
.banner-logo {
  /* width: 100%; */
}

.banner-top-right {
  /* margin-right: 70px; */
  /* display: flex;
  width: 42%;
  color: #051b30; */
}

.img-container {
  /* display: flex; */
}
.hero-img {
  /* width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075); */
}
.hero-msg {
  /* width: 50%;
  background-color: #0542ae;
  color: #e5e5e5;
  display: flex;
  padding: 10px;
  position: absolute;
  z-index: 1;
  /* bottom: 22px; */
  /* margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 10px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  color: black;
  -webkit-text-fill-color: white; Will override color (regardless of order) */
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;  */
}
.hero-txt {
  /* font-style: italic;
  font-size: 2rem; */
}

.cal-banner {
  /* width: 98%; */
}

.banner-main-title {
  /* width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* background-color: #0542ae; */
  /* font-size: 1.8rem; */
}
.calendario {
  /* width: 100%; */

  /* background-color: purple; */
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr; */
  /* row-gap: 30px; */
  /* padding-top: 2px; */
  /* padding-bottom: 2px;
  padding-bottom: 30px; */
  /* margin-top: 30px; */
  /* justify-content: center; */
}

.inner-box {
  /* background-color: #0542ae;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  color: #051b30;
  font-weight: 600;
  height: 100%;
  width: 90%;
  border: 2px solid #0542ae;
  border-radius: 10px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075); */
}

/* btn */

.cal-btn {
  /* appearance: none;
  background-color: #0542ae;
  border: 2px solid #fff;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 0.9rem;
  font-weight: 600;
  line-height: normal;
  margin: auto;
  /* min-height: 60px; */
  /* min-width: 0; */
  /* outline: none;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075); */
}

.cal-btn:disabled {
  pointer-events: none;
}

.cal-btn:hover {
  color: #051b30;
  background-color: white;
  box-shadow: none;
  transform: translateY(-1px);
  border: #051b30 2px solid;
}

.cal-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

/* btn */

.cal-info {
  /* margin: auto;
  font-size: 0.8rem;
  font-style: italic; */
}
/* END OF CALENDER */

/* INFO SECTION */
#info {
  /* width: 900px;
  height: 600px;
  background-color: #0542ae;
  position: relative;
  border-radius: 10px;
  /* padding: 10px; */
  /* margin-top: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), */
  /* 0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075); */
}

.info-section {
  /* margin: 10px; */
  /* display: flex;
  flex-direction: column;
  padding: 15px 6px;
  height: 100%;
  width: 98%;
  gap: 25px; */
}

.preguntas-section {
  /* background-color: #e5e5e5;
  display: flex;
  height: 50%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075); */
}
.preg-left-side {
  /* background-color: plum; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
  gap: 20px;
  color: #051b30; */
}
.preg-right-side {
  /* background-color: aqua; */
  /* display: flex;
  width: 50%;
  align-items: center; */
}
.preg-link {
  /* color: #0542ae;
  font-style: italic; */
}
.preg-img {
  /* width: 70%;
  border-radius: 10px; */
}
.vol-section {
  /* background-color: #e5e5e5;
  display: flex;
  height: 50%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075); */
}
.vol-left-side {
  /* background-color: aqua; */
  /* display: flex;
  width: 50%;
  align-items: center; */
}

.vol-img {
  /* width: 70%;
  border-radius: 10px; */
}

.vol-right-side {
  /* background-color: plum; */
  /* display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  gap: 20px;
  text-align: center;
  color: #051b30; */
}
.vol-link {
  /* color: #0542ae; */
}

/* sponser sec */
/* #sponser-section { */
/* width: 900px;
  height: auto;
  background-color: #e5e5e5;
  /* position: relative; */
/* border-radius: 10px; */
/* padding: 10px; */
/* margin-top: 40px;
  display: flex;
  flex-direction: column;
  border: solid #ffd700 4px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075); */
/* } */

.sponser-banner-title {
  /* width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #051b30; */
  /* background-color: #0542ae; */
  /* font-size: 1.8rem; */
}
.sponser-name-sections {
  /* display: flex; */
  /* height: 500px; */
  /* width: 98%; */
  /* justify-content: space-between;
  align-items: center;
  padding-bottom: 8px; */
}

.left-names {
  /* display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
  justify-content: space-around;
  font-size: 1.2rem;
  align-items: center;
  font-style: italic;
  color: #0542ae; */
  /* background-color: green; */
}
/* .right-names { */
/* display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
  justify-content: space-around;
  font-size: 1.2rem;
  font-style: italic;
  color: #0542ae; */
/* background-color: red; */

/* .footer { */
/* width: 900px;
  height: 200px;
  background-color: #e5e5e5;
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-around;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075); */
/* } */
.logo-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.logo-container img {
  /* width: 150px; */
}
.siguenos {
  /* padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  align-items: center;
  color: #051b30; */
}
.facebook-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.copyright {
  /* font-size: 0.6rem; */
}
/* 
@media (min-width: 320px) {
  .nav-container {
    width: 300px;
    height: auto;
  }
  .hero {
    width: 300px;
    margin: 0 auto;
  }

  .calendario {
    width: 300px;
  }
  #info {
    width: 300px;
  }
  #sponser-section {
    width: 300px;
  }
  .footer {
    width: 300px;
  }
} */
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  /* body {
    max-width: 320px;
    height: auto;
  } */
  .nav-container {
    width: 90%;
    margin: 10px auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-logo {
    width: 10%;
  }
  .nav-img {
    width: 100%;
  }
  .nav-links {
    width: 90%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
  }
  .nav-link {
    color: #051b30;
    font-weight: bold;
    font-size: 0.7rem;
    text-decoration: none;
  }

  .hero {
    width: 90%;
    height: auto;
    background-color: #e5e5e5;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto 20px auto;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  }

  .banner {
    display: flex;
    width: 98%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .banner-top-left {
    flex: 2;
    color: #051b30;
    text-align: end;
  }

  .banner-top-left h1 {
    font-size: 1rem;
  }
  .banner-center {
    flex: 1;
    text-align: center;
  }
  .banner-logo {
    width: 80%;
  }
  .banner-top-right {
    flex: 2;
    color: #051b30;
    text-align: start;
  }
  .banner-top-right h1 {
    /* margin-right: 70px; */
    font-size: 1rem;
  }
  .img-container {
    display: flex;
  }
  .hero-img {
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    margin: 0px auto 30px auto;
  }

  /* sasa */
  .hero-msg {
    width: 50%;
    background-color: #0542ae;
    color: #e5e5e5;
    display: flex;
    bottom: 7%;
    position: absolute;
    padding: 2px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .hero-txt {
    font-style: italic;
    font-size: 1rem;
  }
  .cal-banner {
    width: 98%;
  }
  .banner-main-title {
    width: 100%;
    height: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }

  .calendario {
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    row-gap: 15px;
    margin-bottom: 15px;
  }
  .inner-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    background-color: #fff;
    color: #051b30;
    height: auto;
    width: 96%;
    border: 2px solid #0542ae;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  }
  .teams {
    font-size: 0.8rem;
  }
  .date {
    font-size: 0.8rem;
  }
  .cancha {
    font-size: 0.7rem;
  }

  .cal-btn {
    background-color: #0542ae;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    margin: auto;
    outline: none;
    padding: 5px 10px;
    border: 2px solid #fff;
    text-decoration: none;
    appearance: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    touch-action: manipulation;
    will-change: transform;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    margin-bottom: 10px;
  }
  .cal-info {
    width: 90%;
    margin: auto;
    font-style: italic;
    font-size: 0.5rem;
    padding-bottom: 10px;
    text-align: center;
  }

  #info {
    width: 90%;
    height: auto;
    margin: 0px auto 30px auto;
    background-color: #0542ae;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  }
  .info-section {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    height: auto;
    width: 100%;
    gap: 15px;
  }
  .preguntas-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    padding: 10px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  }

  .preg-left-side {
    /* background-color: plum; */
    color: #051b30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    gap: 20px;
  }
  .preg-left-side h2 {
    font-size: 1rem;
  }
  .preg-link {
    color: #0542ae;
    font-size: 0.7rem;
    font-style: italic;
  }
  .preg-right-side {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .preg-img {
    width: 100%;
    margin: 10px;
    border-radius: 10px;
  }
  .vol-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #e5e5e5;
    justify-content: center;
    height: auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  }
  .vol-left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .vol-img {
    width: 100%;
    margin: 10px;
    border-radius: 10px;
  }
  .vol-right-side {
    color: #051b30;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    padding-bottom: 15px;
  }
  .vol-right-side p {
    font-size: 0.8rem;
  }
  .vol-right-side h2 {
    font-size: 1rem;
  }
  .vol-link {
    color: #0542ae;
    font-size: 0.7rem;
    font-style: italic;
  }

  #sponser-section {
    width: 90%;
    margin: 0px auto 30px auto;
    height: auto;
    background-color: #e5e5e5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0px 5px 5px 5px;
    border: solid #ffd700 4px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  }

  .sponser-banner-title {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #051b30;
    justify-content: center;
    height: 54px;
  }

  .sponser-name-sections {
    display: flex;
    font-style: italic;
    color: #0542ae;
    font-size: 0.8rem;
    gap: 20px;
    text-align: center;
  }
  .left-names {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .right-names {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .footer {
    width: 90%;
    height: auto;
    display: flex;
    background-color: #e5e5e5;
    margin: 0px auto 10px auto;
    border-radius: 10px;
    justify-content: space-around;
    padding-top: 5px;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo-container img {
    width: 40px;
  }
  .siguenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: #051b30;
  }
  .siguenos h2 {
    font-size: 1rem;
  }
  .copyright {
    text-align: center;
    font-size: 0.6rem;
    padding: 2px;
  }
  .facebook-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* body {
    width: 100%;
    height: 100%;
  } */
}
